@charset "UTF-8";
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.portfolio-slider {
  position: relative;
  margin-top: 80px;
  margin-bottom: 200px;
  height: 300px;
  /* Стрелки слайдера */
  /*Стилизуем точки под слайдером */
}

.portfolio-slider-item {
  background-color: #eee;
  margin: 0 10px;
}

.portfolio-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 70px;
  border: none;
  outline: none;
  /* Стрелка влево */
  /* Стрелка вправо */
}

.portfolio-slider .slick-arrow.slick-prev {
  left: -50px;
  background: url(../img/arrow-l.png) center no-repeat;
  background-size: cover;
}

.portfolio-slider .slick-arrow.slick-next {
  right: -50px;
  background: url(../img/arrow-r.png) center no-repeat;
  background-size: cover;
}

.portfolio-slider .slick-active {
  outline: none;
}

.portfolio-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-slider .slick-dots li {
  list-style: none;
}

.portfolio-slider .slick-dots li.slick-active button {
  background-color: #fcff00;
}

.portfolio-slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 12px;
  margin: 0 10px;
  background-color: rgba(238, 238, 238, 0.336);
  border: none;
  border-radius: 50%;
}

.fotoram {
  border: 1px solid #fcff00;
  width: 248px;
  height: 290px;
}

.fotoram-img {
  background: url(../img/Pr1.png) center no-repeat;
  background-size: cover;
}

.fotoram-img2 {
  background: url(../img/Pr2.png) center no-repeat;
  background-size: cover;
}

.fotoram-img3 {
  background: url(../img/Pr3.png) center no-repeat;
  background-size: cover;
}

.fotoram-img4 {
  background: url(../img/Pr4.png) center no-repeat;
  background-size: cover;
}

.fotoram-text {
  transform: translateY(10%);
  font-size: 15px;
}

.bold {
  color: #151515;
  font-size: 15px;
  border-bottom: 3px solid #fcff00;
}

.splinter {
  opacity: 0;
  transition: .5s ease;
  width: 248px;
  height: 290px;
}

.splinter a {
  text-decoration: none;
}

.splinter:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.425);
  cursor: pointer;
}

.main-btn {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fcff00;
  color: #000;
  transform: translateY(120px);
}

@media (max-width: 1100px) {
  .fotoram {
    border: 1px solid #fcff00;
    width: 180px;
    height: 290px;
  }
  .fotoram-img {
    background: url(../img/Pr1_1.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img2 {
    background: url(../img/Pr2_2.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img3 {
    background: url(../img/Pr3_3.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img4 {
    background: url(../img/Pr4_4.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-text {
    transform: translateY(10%);
    font-size: 13px;
  }
  .splinter {
    width: 180px;
    height: 290px;
  }
}

@media (max-width: 950px) {
  .fotoram {
    border: 1px solid #fcff00;
    width: 290px;
    height: 290px;
  }
  .fotoram-img {
    background: url(../img/Pr1.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img2 {
    background: url(../img/Pr2.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img3 {
    background: url(../img/Pr3.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img4 {
    background: url(../img/Pr4.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img5 {
    background: url(../img/Pr5.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-text {
    transform: translateY(5%);
    font-size: 17px;
  }
  .splinter {
    width: 290px;
    height: 290px;
  }
}

@media (max-width: 900px) {
  .fotoram {
    border: 1px solid #fcff00;
    width: 290px;
    height: 290px;
  }
  .fotoram-img {
    background: url(../img/Pr1.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img2 {
    background: url(../img/Pr2.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img3 {
    background: url(../img/Pr3.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img4 {
    background: url(../img/Pr4.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-img5 {
    background: url(../img/Pr5.png) center no-repeat;
    background-size: cover;
  }
  .fotoram-text {
    transform: translateY(5%);
    font-size: 17px;
  }
  .splinter {
    width: 290px;
    height: 290px;
  }
}

@media (max-width: 732px) {
  .fotoram {
    border: 1px solid #fcff00;
    width: 250px;
    height: 290px;
  }
  .fotoram-text {
    font-size: 15px;
  }
  .splinter {
    width: 290px;
    height: 290px;
  }
}

@media (max-width: 700px) {
  .fotoram {
    border: 1px solid #fcff00;
    width: 250px;
    height: 290px;
  }
  .fotoram-text {
    font-size: 15px;
  }
  .splinter {
    width: 290px;
    height: 290px;
  }
}

@media (max-width: 577px) {
  .fotoram {
    border: 1px solid #fcff00;
    width: 450px;
    height: 290px;
  }
  .fotoram-text {
    font-size: 15px;
  }
  .splinter {
    width: 450px;
    height: 290px;
  }
  .portfolio-slider {
    margin-top: 80px;
    margin-bottom: 400px;
  }
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
}

@media (max-width: 565px) {
  .fotoram {
    border: 1px solid #fcff00;
    width: 450px;
    height: 290px;
  }
  .fotoram-text {
    font-size: 15px;
  }
  .splinter {
    width: 450px;
    height: 290px;
  }
  .portfolio-slider {
    margin-top: 80px;
    margin-bottom: 400px;
  }
}

@media (max-width: 415px) {
  .fotoram {
    width: 363px;
    height: 290px;
  }
  .fotoram-text {
    font-size: 15px;
  }
  .splinter {
    width: 363px;
    height: 290px;
  }
}

@media (max-width: 376px) {
  .fotoram {
    width: 325px;
    height: 290px;
  }
  .fotoram-text {
    font-size: 15px;
  }
  .splinter {
    width: 325px;
    height: 290px;
  }
}

@media (max-width: 325px) {
  .fotoram {
    width: 270px;
    height: 290px;
  }
  .fotoram-text {
    font-size: 15px;
  }
  .splinter {
    width: 270px;
    height: 290px;
  }
}
